@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

body {
    background-color: #041128;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none
}

h1 {
    user-select: none;
    font-weight: bolder;
    color: #fff;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.processing{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.processing>img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 25px;
    max-width: 90vw;
}

@media only screen and (max-width:600px) {
    h1{
        font-size: 1.5em;
    }
}

@media only screen and (max-width:400px) {
    h1{
        font-size: 1.25em;
    }
}